
body, html {
	height: 100%;
	margin: 0;
	background-color: #ff4800;
}

a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: Lato, Arial, sans-serif;
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}
p {
	font-family: Lato, Arial, sans-serif;
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.05em;
}
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px auto;
	padding: 1em;
	width: 90%;
}
	nav .nav_mid a, .nav_right a  {
		text-decoration: none;
		display: inline-block;
		padding: 1em;
		border: 0px solid #ff4800;
		transition: color 1s, border-color 1.5s ease;
		color: white;
	}
	nav .nav_mid a:hover, .nav_right a:hover {
		color: #ffd3c1;
		border-bottom: 1px solid white;
	}	
	.nav_left{ 
		flex: 25%;
	}
	.nav_left img {
		float: right;
	}

	.nav_mid {
		flex-basis: 50%;
		text-align: center;
	}
	.nav_right {
		flex: 25%;
	}

/* CONTAINER */

.content {
	width: 100%;
}

/* PRIMEIRA SEÇÃO */
/* PRIMEIRA SEÇÃO */
/* PRIMEIRA SEÇÃO */

.first { 
	height: 42vw;
	background-position: center 100%;
	background-repeat: no-repeat;
	background-image: url('../images/moto.png');
	background-size: 50vw;
	text-align: center;
	margin: 0;
	color: white;
}
	.first h3 {
		padding: 1.5em;
	}

	.btn_solicitar {
		border: 2px solid white;
		padding: 0.5em 1em;
		
		transition: background-color 0.5s, color 0.5s;
	}
	.btn_solicitar:hover {
		background-color: white;
		color: #ff4800;
	}

/* SEGUNDA SEÇÃO */
/* SEGUNDA SEÇÃO */
/* SEGUNDA SEÇÃO */

.second {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	height: 50vw;
	color: white;
	-webkit-box-shadow: inset 0px 7px 24px -13px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 7px 24px -13px rgba(0,0,0,1);
	box-shadow: inset 0px 7px 24px -13px rgba(0,0,0,1);
}
.second p {
	width: 23vw;
	align-self: center;
}
	.sec {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.redondo { border-radius: 50%; width: 200px; height: 200px; }
	.voce { 
		background-color: #b8252b; 
		background-image: url('../images/para-voce_back.png'); 
		background-repeat: no-repeat;
		background-size: 100%;
	 	min-width: 33%;
	 	text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.5);
	 }
	.negocio { 
		background-color: #007f90; 
		background-image: url('../images/para-negocio_back.png'); 
		background-repeat: no-repeat;
		background-size: 100%;
		min-width: 34%;
		text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.5);
	}
	.restaurante { 
		background-color: #f26d34; 
		background-image: url('../images/para-restaurante_back.png'); 
		background-repeat: no-repeat;
		background-size: 100%;
		min-width: 33%;
		text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.5);
	}
	.btn_sec {
		border: 2px solid white;
		padding: 0.75vw 5vw;
		align-self: center;
		transition: color 0.75s, background-color 0.5s;
	}
	.btn_sec:hover {
		background-color: white;
		color: #ff4800;
	}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}
footer ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
footer ul a { 
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	color:  #3333cc;
}


/* CSS ICONS MADED BY IMAGES */
